/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 5, 2016, 12:58:36 AM
    Author     : lolo
*/
body{
    background-color: #dddddd;
}
label{
    font-size: 40px
}
#max{
    margin: 20px;
}
#itemContainer{    margin-left: 5%;
                   width: 86%;
}

input#name{
    height: 30px;
}

#inputItems{

    margin: 2%;
}


.delete::after{
    content: "×";
    color: grey;
    font-size: 30px;
    cursor: pointer;
}
.noframe{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    float: right;
    padding: 0.5% 2% 0 0;
}
.draggable {   background-color: wheat;
               border: 1px solid #e78f08;
               float: left;
               font-weight: bold;
               height: 50px;
               margin: 1%;
               padding: 28px 0 0;
               position: relative;
               text-align: center;
               width: 200px;
               z-index: 100;
}



.trash {    background-color: lightblue;
            border: 1px solid #e78f08;
            height: 100px;
            margin: 10px;
            padding: 0.5em;
            position: absolute;
            right: 0;
            text-align: center;
            width: 145px;
            z-index: 9;
        

}
.drop-state-hover{
    background: #fdf5ce url("images/ui-bg_glass_100_fdf5ce_1x400.png") repeat-x scroll 50% 50%;
    border: 1px solid #fbcb09;
    color: #c77405;
    font-weight: bold;
}