<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <title>Lista de la compra</title>
        <link rel="stylesheet" href="css/style.css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery.ui.all.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/css/lightness/jquery-ui-1.10.2.custom.min.css" rel="stylesheet">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="js/libs//jquery.ui.touch-punch.js"></script>
    </head>
    <body>
        <header>
            <h1>Nit i Dia - Cullera  / Lista de la compra</h1>
        </header>
        <div id="itemContainer">
            <form id="addItem" action="#">
                <div id="inputItems">
                    <input id="name" placeholder="items" type="text" />
                    <button id="add">Añadir</button>
                </div>
            </form>
        </div>
        <script id="itemTemplate" type="text/template">
            <div class='draggable'><%= name %></div>
        </script>
        <script id="trashTemplate" type="text/template">
            <p>Cesta de la basura</p>
        </script>
        <script src="js/libs/underscore-min.js"></script>
        <script src="js/libs/backbone-min.js"></script>
        <script type="text/javascript" src="js/libs/backbone-relational.js"></script>
        <script src="js/relational/relational-model.js"></script>
        <script src="js/views/item-view.js"></script>
        <script src="js/views/item-trash-view.js"></script>
        <script src="js/views/user_shoppinglist-view.js"></script>
        <script src="js/app.js"></script>
        <script type="text/javascript">
    (function($) {
        $.forum.bootstrap();
    })(jQuery);
</script>
    </body>
</html>
